:root {
    /* Paleta de Colores */
    --color-principal-azul: #223F61;
    --neomorph-ppal-blue: #426080;
    --background-menu-movil: #193658be;
    --color-acento-azul: #93B6EE;
    --color-acento-naranja: #E78C3B;
    --color-blanco-neutro: #dddddd;
    --color-humo-gris: #CDCDCD;
}


.Bienvenida {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    min-width: 30vw;
    max-height: 5vh;

  }
}

.App-header {
  background-color: var(--color-principal-azul);
  min-height: 20vh;
  padding : 0 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.key:hover {
  fill: var(--color-humo-gris);
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/