.main-form {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.content-main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box
}

.container-form {
    width: 60vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    color: var(--color-humo-gris);
    letter-spacing: 2.5px;    
}

.title-form {
    font-size: 4rem;
    margin-bottom: 50px;
    font-weight: lighter;
    color: var(--color-humo-gris);
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 15px;
    width: 50%;
    font-size: 1rem;
}

.title-register {
    margin-bottom: 8px;
}

.container-form .form-input {
    margin: 0 0 55px 0 ;
}

.container-form .input-reg {
    margin: 0 0 8px 0;
    padding: 7px 0;
    gap: 7px;
}

.label {
    padding: 0 0 0 3%;
}

.box {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    border: none;
    padding: 0 3%;
    border-radius: 0 6px 6px 0;
    background-color: var(--color-humo-gris);
}

.btn-send {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-form .btn-send {
    width: 30%;
    height: 45px;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    letter-spacing: 3px;
    cursor: pointer;
    margin: 10px 0 0 70%;
    /*transition: background-color 0.4s ease-in-out;*/
}

.btn-send:hover {
    background-color: rgb(192, 192, 192);
    color: var(--color-acento-naranja);
}

.option-login  {
    height: 40px;
    width: 50%;
    padding: 20px 0 0 2%;
    letter-spacing: 0.2px;
    line-height: 25px;
    display: flex;
}

.option-login a:hover {
    text-decoration: underline;
}

.chk-agree a:hover {
    text-decoration: underline;
}

.chk-agree {
    width: 10px;
    margin: 8px 15px;
    cursor: pointer;
}

.box-terms {
    width: 70%;    
    display:  inline-block;
    justify-content: left;
    cursor: pointer;
}