/* --- ESTILOS PARA EL VALIDADOR DE CONTRASEÑA --- */

.password-requirements {
  list-style-type: none; /* Quita los puntos de la lista */
  padding-left: 0;
  margin-top: 10px;
  font-size: 0.9em;
  color: #6b7280; /* Color de texto gris por defecto */
}

.password-requirements li {
    font-size: 10px;
  transition: all 0.2s ease-in-out; /* Animación suave */
  margin-bottom: 4px;
  padding: 0 15px;
}

/* Estado Inválido (Rojo) */
.password-requirements .invalid {
  color: #9ab0b35e; /* Un rojo oscuro */
}
.password-requirements .invalid::before {
  content: '✘ '; /* Icono de 'X' */
  margin-right: 8px;
  font-weight: bold;
}

/* Estado Válido (Verde) */
.password-requirements .valid {
  color: var(--color-acento-naranja); /* Un verde oscuro */
}

.password-requirements .valid::before {
  content: '✔ '; /* Icono de 'check' */
  margin-right: 8px;
  font-weight: bold;
}